<div class="list-group">
    <a class="list-group-item list-group-item-action active" href="/">
        Teste
    </a>
    <a class="list-group-item list-group-item-action" href="/">
        Teste1
    </a>
    <a class="list-group-item list-group-item-action" href="/">
        Teste2
    </a>
</div>