@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@attribute [Authorize]

@inject HubConnection Hub

<h3>SignalR - WebSocket</h3>
<p>ROTINA WS 192.168.77.233: <strong>@mensagem</strong></p>

@code {
    private string mensagem = "";
    protected override async Task OnInitializedAsync()
    {
        Hub.On<string>("teste", (msg) =>
        {
            mensagem = msg;
            InvokeAsync(StateHasChanged);
        });

        if (Hub.State == HubConnectionState.Disconnected)
        {
            await Hub.StartAsync();
        }
    }
}