@page "/Hosts"
@using Admin.Shared.Response
@using Admin.App.Client.Components.Table
@inject HostService HostService

<h3>Lista de Hosts</h3>

    @if (hosts == null)
    {
        <li>Carregando...</li>
    }
    else
    {
        <TableBase Data="hosts"/>
    }
    
@code {
    private List<HostResponse> hosts = new();

    protected override async Task OnInitializedAsync()
    {
        hosts = await HostService.GetHostsAsync();
    }
}