@page "/teste"
@using Admin.Shared.Response
@inject HostService HostService


<MudText Typo="Typo.h2" Class="mt-1">SNCore</MudText>


<h3>Lista de Hosts</h3>

<ul>
    @if (hosts == null)
    {
    <li>Carregando...</li>
    }
    else
    {
    foreach (var host in hosts)
    {
    <li>@host.Name</li>
    }
    }
</ul>

@code {
private IEnumerable<HostResponse>? hosts;

protected override async Task OnInitializedAsync()
{
hosts = await HostService.GetHostsAsync();
}
}