/* wwwroot/css/site.css */
:root {
    --primary-color: #1565C0; /* Cor primária do MudBlazor */
    --primary-light: rgba(89, 74, 226, 0.1);
    --text-primary: #424242;
    --background: #ffffff;
    --surface: #ffffff;
    --background-grey: #f5f5f5;
    --text-color: #424242;
    --inactive-bg: #f5f5f5;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Apply the font to the body or specific elements */
body {
    font-family: 'Ubuntu', sans-serif !important;
}

/* You might need to override MudBlazor's default font settings as well */
.mud-typography {
    font-family: 'Ubuntu', sans-serif !important;
}