@using Admin.App.Client.Components.Chart
@using Admin.Shared.Response
    <MudGrid Spacing=3>
        <MudItem xs="12" sm="12" md="12">
            <MudPaper Height="330px" Outlined="true" Class="rounded-lg d-flex align-center justify-center">
                <MudText Typo="Typo.h5">(12/12)</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="7">
            @ChildContent
        </MudItem>

        <MudItem xs="12" sm="12" md="5">
            <MudGrid Spacing="3">
                <MudItem xs="12" sm="12" md="12">
                    <div style="height: 450px;" class="d-flex flex-column mud-width-full py-8 px-3 pt-3">
                        
                        <MudPaper Elevation="0" Class="d-flex mud-width-full " Style="justify-content: center" Height="60px">
                            <MudText Typo="Typo.body1" Color="Color.Default" Class="p-3" ><b> Status Local </b></MudText>
                        </MudPaper>
                        <MudSimpleTable Style="overflow-x: auto; height: 100%; width: 100%" Elevation="0" Dense="true" Striped="true">
                            <tbody>
                            @foreach (var prop in typeof(SysInfoResponse).GetProperties())
                            {
                                <tr>
                                    <td style="width: 450px">@prop.Name</td>
                                    <MudSpacer/>
                                    <td>@prop.GetValue(SystemInfom)</td>
                                </tr>
                            }
                            </tbody>
                        </MudSimpleTable>
                        <MudTabPanel Text="Item Two" ToolTip="ToolTip Two"/>
                    </div>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    public SysInfoResponse SystemInfom { get; set; } = new()
    {
        Cpu = "10%",
        Ram = "2%",
        Uptime = "01:d 23:h 16:m",
        Version = "3.0.1",
        Scheduler = "312",
        Backup = "09/01/2025"
    };

}