@page "/account/user"
@using Admin.App.Client.Utils
@using Admin.Shared.Response
@using Admin.Shared.Response.Account
@attribute [Authorize]
@inject IUserService UserService
@inject ISnackbar Snackbar

@if (_user is not null)
{
    foreach (var users in _user)
    {
        <p>@users?.UserName</p>
    }
}
else
{
    <p>teste</p>
}


@code {
    private List<UsersResponse?>? _user = new();
    
    
    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.GetUsers().HandleResponseAsync(Snackbar);
    }
}