@attribute [Authorize]
@page "/"
@using Admin.App.Client.Components.Dashboard
@using Admin.Shared.Response
@using Microsoft.AspNetCore.Authorization
@inject ISnackbar Snackbar


        <MudGrid Spacing=6 Style="padding-top: 20px">
            <!-- Conteúdo principal -->
            <MudItem xs="12" sm="12" lg="12">
                <MudGrid Spacing=3>
                    @for (int i = 0; i < 4; i++)
                    {
                        <MudItem xs="6" sm="3">
                            <Summary>
                            </Summary>
                        </MudItem>
                    }
                </MudGrid>
            </MudItem>
            <MudItem xs="12" sm="12" lg="12">
                <MudPaper Width="100%" Height="100%" Style="padding: 20px">
                    <LocalMetrics>
                        <Notification Notifications="Notifications" @ref="Alert"/>
                    </LocalMetrics>
                </MudPaper>
            </MudItem>

            <!-- Barra lateral direita -->
            @*<MudItem xs="12" sm="3">
                
            </MudItem>*@

        </MudGrid>

@code {
    public Notification Alert = new();
    public List<AlertItemResponse> Notifications = new()
    {
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Erro},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Success},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Information},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Erro},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Success},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Success},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Erro},
        new AlertItemResponse() {  Title = "Notification Title", Message = "text sub-title", TypeAlert = AlertItemIcon.Erro}
        
    };

    private void CriarNovo()
    {
        Snackbar.Add
        (
            @<div>
            <p class="notification-title"><b>Text</b></p>
            <p class="notification-sub-title">Notification</p>
            </div>,
            Severity.Error,
            config =>
            {
                config.Icon = Icons.Material.Outlined.WarningAmber;
                config.IconColor = Color.Error;
                config.IconSize = Size.Small;
                config.SnackbarVariant = Variant.Outlined;
            }
        );
        Notifications.Add(new() {  Title = "Text", Message = "Notification",  TypeAlert = AlertItemIcon.Erro});
    }
    
}