@using System.Diagnostics.CodeAnalysis;
@using Admin.Shared.Request;

@namespace Admin.App.Client.Components.Login
@inherits LayoutComponentBase
@layout TutorialsLayout

<div class="container">
    <div class="row">
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <CascadingValue Value="Model" IsFixed="true">
                        @Body
                    </CascadingValue>
                </BodyTemplate>
            </Card>
        </div>
    </div>
</div>

@code 
{
    [NotNull]
    private LoginModelRequest? Model { get; set; } = new();
}
