:root {
    --bb-header-color: #e0e0e0;
    --bg-color: #fff;
    --bs-border-color: rgba(197, 197, 197, 0.87);
    
    --A1: #cbdad5;
    --A2: #89a7b1;
    --A3: #566981;
    --A4: #3a415a;
    --A5: #34344e;
    /*
    --A1: #e1e3ac;
    --A2: #a6b985;
    --A3: #648a64;
    --A4: #46685b;
    --A5: #213435;
    */
    /*
    --A1: #ffffff;
    --A2: #5e9188;
    --A3: #3e5954;
    --A4: #253342;
    --A5: #232226;
    */
}



.layout-header {
    border-bottom: 1px solid var(--bs-border-color);
}
.layout-banner {
    border-bottom: 1px solid var(--bs-border-color);
}
.layout-side {
    border-right: 1px solid var(--bs-border-color);
}

.menu {
    --bb-menu-item-hover-bg: var(--A4);
    --bb-menu-item-hover-color: var(--bg-color);
}

