@namespace Admin.App.Client.Components.Table
@using Admin.Shared.Response



<Table TItem="HostResponse"  Items="Data" IsBordered="true" HeaderStyle="TableHeaderStyle.Light" ShowLoading="false" >
    <TableColumns >
        <TableColumn @bind-Field="@context.Ipv4" Width="180"  />
        <TableColumn @bind-Field="@context.Name" Width="300" />
        <TableColumn @bind-Field="@context.Description" Width="300"/>
    </TableColumns>
</Table>

@code {
    [Parameter] public List<HostResponse> Data { get; set; } = new();
}